*.wav
*.opus
!src/audio/test_audio.wav
*.srt
*.vtt
*.dll
*.exe
*.dylib
target/
*.old.json
ffmpeg.framework/
ffmpeg*-default/
*.xz
.DS_Store
*.pyc
ffmpeg/
openblas/
*.7z
.env
!samples/*
clblast/
schemas/
node_modules/
*.lockb