<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSMicrophoneUsageDescription</key>
    <string>This app requires microphone access to record audio.</string>
    <key>NSAudioCaptureUsageDescription</key>
    <string>This app requires system audio access to record your device's audio output.</string>
    <key>NSSystemExtensionUsageDescription</key>
    <string>This app requires system extension access to capture audio output.</string>
</dict>
</plist>